@page "/"
@inject NavigationManager NavigationManager
<h3>Home</h3>

@code {
    protected override void OnInitialized()
    {

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        NavigationManager.NavigateTo("/News");
    }
}
